@import '/styles/variables.scss';

.iconContainer {
  cursor: pointer;

  border: 0;
  outline: 0;

  background-color: transparent;

  border-radius: $borderRadiusLight;

  .icon {
    display: flex;

    margin: auto;

    font-size: 26px;
  }

  &:hover {
    background-color: var(--SecondaryBG);
  }

  &.active {
    background-color: var(--PrimaryColor);

    &:hover {
      background-color: var(--DrakenPrimaryColor);
    }
  }
}
