@import '/styles/variables.scss';

.imageAlignmentoptions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  .button {
    $size: 40px;

    width: $size;
    height: $size;

    border-radius: $borderRadiusLight;

    .icon {
      font-size: 20px;
    }
  }
}
