.action-board-titlebar {
  display: grid;
  grid-template-columns: 40px auto 40px;
  text-align: center;
  align-items: center;
  height: 32px;
  background-color: $actionBoardTitlebarBg;
  a {
    margin-top: 3px;
    svg {
      width: 15px;
      margin: auto;
      fill: $textPrimaryColor;
    }
    &:hover {
      svg {
        fill: black;
      }
    }
  }
  h5 {
    color: $textPrimaryColor;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 13.5px;
    font-weight: 300;
  }
}
