.add-art-option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin: 16px;
  a {
    &:nth-child(1) {
      background-color: #99489b;
      &:hover {
        background-color: #89418b;
      }
    }
    &:nth-child(2) {
      background-color: #3851A3;
      &:hover {
        background-color: #324992;
      }
    }
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 8px;
    position: relative;
    svg {
      width: 60px;
      fill: rgba($color: white, $alpha: 0.3);
    }
    p {
      position: absolute;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      font-family: sharpsans-bold;
      color: $brightColor;
      text-transform: capitalize;
      text-shadow: 0px 0px 2px black;
    }
  }
}
