.art-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 16px;
  height: calc(100% - 106px);
  overflow-y: scroll;

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // padding: 5px;
      margin: 5px;
      &:hover {
      outline: 1px solid #1f51cf;
      box-shadow: 0 0 5px 1px rgba($color: #1f51cf, $alpha: 0.5);
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
