@import '/styles/variables.scss';

.select {
  position: relative;

  z-index: 1;

  .options {
    position: absolute;

    min-width: 300px;
    max-height: 0;

    padding: 0 5px;

    border: 1px solid transparent;

    &.active {
      max-height: 600px;

      padding: 5px;
      margin-top: 5px;

      border-radius: $borderRadiusLight;
      box-shadow: 0 0 10px -2px var(--PrimaryBG);

      opacity: 1;
      overflow: visible;
    }

    background-color: var(--SecondaryBG);

    overflow: hidden;
    opacity: 0;

    .option {
      padding: 5px 10px;

      border-radius: $borderRadiusLight;

      cursor: pointer;

      &:hover {
        background-color: var(--PrimaryBG);
      }

      &.selected {
        background-color: var(--HoverPrimaryBG);
      }
    }
  }
}
