@import '/styles/variables.scss';

.uploadImage {
  & > * {
    margin-top: $toolkitPanelgaps;

    padding: {
      left: $toolkitPanelgaps;
      right: $toolkitPanelgaps;
    }
  }

  .sidesPreview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
  }
}
