@import '/styles/variables.scss';

.addImage {
  & > * {
    margin-top: $toolkitPanelgaps;

    padding: {
      left: $toolkitPanelgaps;
      right: $toolkitPanelgaps;
    }
  }

  .inputContainer {
    display: grid;
    grid-template-columns: auto 37px;
    gap: 8px;
    .searchButton {
      background-color: var(--PrimaryColor);

      border-radius: $borderRadiusLight;

      .icon {
        font-size: 20px;
        * {
          color: var(--PrimaryTC);
        }
      }
    }
  }

  .alignmentContainer {
    display: flex;
    justify-content: flex-end;

    .button {
      $size: 40px;

      width: $size;
      height: $size;

      border-radius: $borderRadiusLight;

      .icon {
        font-size: 20px;
      }
    }
  }

  .imageContainer {
    $scrollOffset: 5px;

    display: grid;
    gap: $toolkitPanelgaps;
    grid-template-columns: 1fr;

    height: 80vh;

    margin: {
      right: $scrollOffset;
    }

    padding: {
      right: calc($toolkitPanelgaps - $scrollOffset);
    }

    overflow: auto;

    &.single {
      grid-template-columns: 1fr;
    }

    &.double {
      grid-template-columns: 1fr 1fr;
    }

    &.loading {
      opacity: 0.5;
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;

      .imageBox {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        cursor: pointer;

        img {
          max-width: 100%;
        }
      }
    }
  }
}
