@import '/styles/variables.scss';

.addImage {
  padding: $toolkitPanelPadding;

  .inputContainer {
    display: grid;
    grid-template-columns: auto 37px;
    gap: 8px;
    .searchButton {
      background-color: var(--primaryColor);

      border-radius: $borderRadiusLight;
    }
  }

  .alignmentContainer {
    display: flex;
    justify-content: flex-end;

    margin-top: 15px;

    .button {
      width: 30px;
      height: 30px;

      .icon {
        font-size: 20px;
      }
    }
  }

  .imageContainer {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;

    padding: 15px 0;

    &.single {
      grid-template-columns: 1fr;
    }

    &.double {
      grid-template-columns: 1fr 1fr;
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;

      .imageBox {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        cursor: pointer;

        img {
          max-width: 100%;
        }
      }
    }
  }
}
