@import '/styles/buttons.scss';

.toolkitOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 12px 0;
  padding-top: 40px;

  border-right: 1px solid var(--SecondaryBG);

  .top,
  .bottom {
    display: flex;
    flex-direction: column;

    .iconContainer {
      margin: auto;
      padding: 12px;

      border-radius: 10px;

      @extend %linkButton;

      .icon {
        $size: 20px;

        width: $size;
        height: $size;

        color: var(--TC);
      }
      &.active {
        background-color: var(--SecondaryBG);
      }
    }
  }
}
