@import '/styles/variables.scss';

.buttonContainer {
  .button {
    height: 40px;

    padding: 0 20px;

    border-radius: $borderRadiusLight;
    border: 0;

    background-color: var(--PrimaryColor);

    color: var(--PrimaryTC);

    cursor: pointer;

    &:hover {
      background-color: var(--DrakenPrimaryColor);
    }
  }
}
