@import '/styles/variables.scss';

.iconContainer {
  cursor: pointer;

  border: 0;
  outline: 0;

  background-color: transparent;

  border-radius: $borderRadiusNormal;

  .icon {
    display: flex;

    margin: auto;

    font-size: 26px;
  }

  &.active {
    background-color: var(--SecondaryBG);
  }
}
