.canvas-right-options {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 64px;
  .option {
    margin-bottom: 8px;
    padding: 7px 9px;
    border-radius: 4px;
    background-color: rgba($color: $brightColor, $alpha: 0.7);
    &:hover {
      background-color: rgba($color: $brightColor, $alpha: 1);
    }
    text-align: center;
    cursor: pointer;
    img {
      background-color: $editorBgColor;
      width: 100%;
    }
    svg {
      width: 24px;
    }
    p {
      margin: 0;
      font-size: 11.104px;
      line-height: 12px;
      text-transform: capitalize;
      letter-spacing: 1px;
      padding-top: 2px;
      border-top: 2px solid transparent;
    }
    &.selected {
      p {
        border-top: 2px solid red;
      }
    }
    &.front-layout-option {
      margin: 0;
      border-radius: 4px 4px 0 0;
    }
    &.back-layout-option {
      border-radius: 0 0 4px 4px;
    }
  }
}
