.editor {
  height: 100vh;
  width: 100vw;
  background-color: $editorBgColor;
  display: grid;
  grid-template-columns: 33.65% auto;
  overflow: hidden;
  @media (max-width: 1600px) {
    grid-template-columns: 528px auto;
  }
  @import "./sidepanel/sidePanel";
  @import "./canvas/canvas";
}
