$textPrimaryColor: #4a4a4a;

$linkColor: #1f51cf;
$linkHoverColor: #1840a3;

$toolbarColor: #333333;
$toolbarItemBorderColor: #fa3c00;
$toolbarItemInactiveColor: #b7b7b7;
$toolbarItemInactiveBgColor: #333333;
$toolbarItemActiveColor: #333333;

$editorBgColor: #d8d8d8;

$brightColor: white;
