$toolbar_color: #333333;
$toolbar_item_border_color: #fa3c00;
$toolbar_item_inactive_color: #b7b7b7;
$toolbar_item_inactive_bg_color: #333333;
$toolbar_item_active_color: #333333;

$canvas_bg_color: #d8d8d8;
