@import './theme.scss';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition: 0.2s;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--TC);
  // for development
  // outline: 1px solid red;
}

svg {
  transition: 0s;

  * {
    transition: 0s !important;
  }
}

// Toastify

.Toastify {
  position: absolute;
}

.Toastify__toast-theme--light {
  --toastify-color-light: var(--PrimaryBG);
  --toastify-color-dark: var(--PrimaryBG);

  --toastify-text-color-light: var(--TC);
  --toastify-text-color-dark: var(--TC);
}
