@import './variables.scss';

.dark {
  --PrimaryBG: #{$darkPrimaryBG};
  --SecondaryBG: #{$darkSecondaryBG};
  --HoverPrimaryBG: #{$hoverDarkPrimaryBG};
  --TC: #{$darkTC};
}

.light {
  --PrimaryBG: #{$brightPrimaryBG};
  --SecondaryBG: #{$brightSecondaryBG};
  --HoverPrimaryBG: #{darken($brightPrimaryBG, 10%)};
  --TC: #{$brightTC};
}

:root {
  --PrimaryColor: #{$primaryColor};
  --HoverPrimaryColor: #{darken($primaryColor, 8%)};
  --PrimaryTC: #{$primaryTC};
  --DangerBG: #{$dangerBG};

  --DarkOverlay: #{rgba($color: black, $alpha: 0.8)};
}
