@import './variables.scss';

.dark {
  --PrimaryBG: #{$darkPrimaryBG};
  --SecondaryBG: #{$darkSecondaryBG};
  --TC: #{$darkTC};
}

.light {
  --PrimaryBG: #{$brightPrimaryBG};
  --SecondaryBG: #{$brightSecondaryBG};
  --TC: #{$brightTC};
}

:root {
  --PrimaryColor: #{$primaryColor};
  --PrimaryTC: #{$primaryTC};
}
