////////////////
// border-radius

$borderRadiusLight: 5px;
$borderRadiusNormal: 10px;

//////////
// padding

$toolkitPanelgaps: 15px;

///////
//color

$primaryColor: #4176ff;
$primaryTC: #fdfdfd;
$dangerBG: #9f184c;

$darkPrimaryBG: #1a1c1e;
$hoverDarkPrimaryBG: #223042;
$darkSecondaryBG: #272a30;
$darkTC: #fdfdfd;

$brightPrimaryBG: #fdfdfd;
$brightSecondaryBG: #efefef;
$brightTC: #2b2f33;

/////////
//general

$scrollOffset: 5px;
