//////////
// border-radius

$borderRadiusLight: 5px;
$borderRadiusNormal: 10px;

//////////
// padding

$toolkitXPanelPadding: 20px;

//////////
//color

$primaryColor: #4176ff;

$darkPrimaryBG: #1a1c1e;
$darkSecondaryBG: #272a30;
$darkTC: #fdfdfd;

$brightPrimaryBG: #fdfdfd;
$brightSecondaryBG: #efefef;
$brightTC: #2b2f33;
